doctype html
html
	script(src="https://cdn.socket.io/socket.io-1.3.2.js")
	script(src="/socket.io/socket.io.js")
	script(src="http://code.jquery.com/jquery-2.0.3.min.js")
	head
		title= title
		link(rel="stylesheet", href="bootstrap.min.css")

		script(type='text/javascript').
			var socket = io();

			$(function() {
				$("#register_button").on("click", function(event) {
					event.preventDefault();
					socket.emit("register", {
						phone_number: $("#phone_number").val()
					});
					alert('socket emit sent')
				});

				$("#verify_button").on("click", function(event) {
					event.preventDefault();
					socket.emit("verify", {
						phone_number: $("#phone_number").val(),
						code: $("#code").val()
					});
				});

				socket.on("code_generated", function(data) {
					$("#register").fadeOut();
					$("#verify").fadeIn();
					$("#update").fadeOut();
					$("#register_instructions").fadeOut();
					$("#verify_instructions").fadeIn();
				});

				socket.on("update", function(data) {
					$("#update").html(data.message);
					$("#update").fadeIn();
				});

				socket.on("reset", function(data) {
					$("#register_instructions").fadeIn();
					$("#verify_instructions").fadeOut();
					$("#update").fadeOut();
					$("#register").fadeIn();
					$("#verify").fadeOut();
				});

				socket.on("verified", function(data) {
					$("#register").fadeOut();
					$("#verify").fadeOut();
					$("#register_instructions").fadeOut();
					$("#verify_instructions").fadeOut();
				});
			});

	body
		div.container
			block content